<md-card-content flex="90" layout="column">
    <md-progress-linear md-mode="indeterminate" ng-show="vm.isBusy"></md-progress-linear>
    <md-grid-list flex md-cols="6" md-cols-xs="4" md-row-height="4:3" md-gutter="4px">
        <md-grid-tile
                md-rowspan="1" md-colspan="1"
                ng-repeat="file in vm.listFiles"
                ng-click="vm.openImage(file, $event)"
                ng-style="::{ 'background-image': 'url(' + vm.viewFile(file) + ')', 'background-size' : 'cover', 'cursor':'pointer' }"
                layout-padding="10">
            <div class="img-wrap">
                <md-button class="md-icon-button md-warn md-img-remove" aria-label="More"
                           ng-click="vm.deleteFile(file, $event)">
                    <md-icon md-font-icon="zmdi zmdi-close-circle"></md-icon>
                </md-button>
            </div>

        </md-grid-tile>
    </md-grid-list>

</md-card-content>
<div flex="1">
    <md-divider></md-divider>
    <div flex layout="row" layout-align="end end">
        <md-button class="md-primary md-raised" ngf-select="vm.uploadFiles($files, $invalidFiles)"
                   ngf-multiple="true" aria-label="upload" ng-disabled="vm.isBusy">
            <md-icon md-font-icon
                     ng-class="{ 'zmdi zmdi-cloud-upload': vm.isBusy === false, 'fa fa-spinner fa-pulse': vm.isBusy === true}">
            </md-icon>
            Upload
        </md-button>
        <md-button class="md-raised md-warn">
            <md-icon md-font-icon="zmdi zmdi-refresh">
            </md-icon>
            Refresh
        </md-button>
    </div>
</div>
