// import material icons
$zmdi-font-path: "../../bower_components/material-design-iconic-font/dist/fonts";
@import "bower_components/material-design-iconic-font/scss/material-design-iconic-font.scss";

// import angular material scss
@import "angular-material/angular-material.scss";

// import triangular module scss
@import "triangular/triangular";

// set template font family
button, select, html, textarea, input {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

// import app scss

//@import "scss/material-backgrounds";

// Add your CSS here

.md-toolbar-tools {
  .zmdi-chevron-right {
    padding: 0px 5px;
  }
}

.whiteframe-background-color{
  background-color: white;
}

.whiteframe-padding{
  padding: 5px 10px;
}

.badge {
  padding: 8px 14px;
  border-radius: 6px;
  text-align: center;
  color: #fff;
  background-color: #26C6DA;
}
.badge-warn {
  background-color: #26C6DA;
}
.status-primary {
  background-color: #8BC34A;
}
.status-pending {
  background-color: #FF9800;
}
.left-padding{
  padding-left: 16px;
}
.bottom-right{
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;
  z-index: 100;
}

.img-wrap {
  position: absolute;
  right:35px;
  top: 30px;
}


.md-img-remove{
  position: absolute;
  bottom: 2px;
  left: 2px;
  z-index: 100;
}

.md-img-remove:hover{
  opacity: 1;
}

md-input-container.md-block{
  margin: 10px 0 0 !important;
}

md-autocomplete[md-floating-label] md-input-container{
  padding-bottom: 0px !important;
  margin: 10px 0 0 !important;
}

md-input-container > md-select{
  margin: 1px 0 22px !important;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
