<md-dialog aria-label="role form" ng-cloak flex>

    <form name="userChangePasswordForm" novalidate>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Change password</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="userChangePasswordFormController.cancel()">
                    <md-icon md-font-icon="zmdi zmdi-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section layout="row">
                    <md-input-container class="md-block" flex >
                        <label>Password</label>
                        <input type="password" name="password"
                               ng-model="userChangePasswordFormController.model.password"/>
                        <div ng-messages="userChangePasswordForm.password.$error" >
                            <div ng-message="required">
                                Please enter the password
                            </div>
                            <div ng-message="passwordMatch" flex>
                                Your passwords did not match
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Re-enter Password</label>
                        <input type="password" name="confirmPassword" ng-model="userChangePasswordFormController.model.internal.confirmPassword"
                               match-password="password" />
                        <div ng-messages="userChangePasswordForm.confirmPassword.$error">
                            <div ng-message="required">
                                Please enter the password
                            </div>
                            <div ng-message="passwordMatch">
                                Your passwords did not match
                            </div>
                        </div>
                    </md-input-container>

                </section>
                <section>
                    <div class="button-toolbar" layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-click="userChangePasswordFormController.submit($event)" ng-disabled="userChangePasswordForm.$invalid">Save</md-button>
                        <md-button ng-click="userChangePasswordFormController.cancel()">Cancel</md-button>
                    </div>
                </section>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>