<amma-file-upload
        amma-file-list-url="http://localhost:5555/users/get-images-using-token/{token}"
        amma-file-view-base-url="http://localhost:5555/users/get-image-using-token/{token}/{file}"
        amma-file-upload-url="http://localhost:5555/users/upload-image/{token}"
        amma-file-delete-url="http://localhost:5555/users/remove-file/{token}/{file}"
        amma-file-save-url="http://localhost:5555/users/admin/save/{token}"
        amma-file-token-url="http://localhost:5555/users/create-token/admin">

</amma-file-upload>


