<section class="overlay-10 padded-content-page overflow-hidden full-height" layout="column">

    <section flex layout="row">
        <md-card flex="20">
            <h2 class="md-title left-padding ">Photos</h2>
            <md-divider></md-divider>
            <md-card-content>
                <img src="assets/images/s6_edge.jpg">
                <div layout="row">
                    <div>
                        <img src="assets/images/s6_edge_1.jpg" width="100">
                    </div>
                    <div>
                        <img src="assets/images/s6_edge_1.jpg" width="100">
                    </div>
                    <div>
                        <img src="assets/images/s6_edge_1.jpg" width="100">
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <md-card flex>
            <h2 class="md-title left-padding ">Details</h2>
            <md-divider></md-divider>
            <md-card-content>
                <div layout="row" layout-margin>
                    <div flex>
                        <md-list layout="column" flex>
                            <md-list-item layout="row">
                                <div class="md-body-1" flex>Product Name</div>
                                <div class="md-list-item-text" flex>
                                    <div class="md-body-2">Galaxy Note 4</div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>

                            <md-list-item layout="row">
                                <div class="md-body-1" flex>Manufacturer</div>
                                <div class="md-list-item-text" flex>
                                    <div class="md-body-2">Samsung</div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>

                            <md-list-item layout="row">
                                <div class="md-body-1" flex>Serial Number</div>
                                <div class="md-list-item-text" flex>
                                    <div class="md-body-2">SM-G925TZKFTMB</div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>

                            <md-list-item layout="row">
                                <div class="md-body-1" flex>Internal Memory</div>
                                <div class="md-list-item-text" flex>
                                    <div class="md-body-2">64GB</div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>

                            <md-list-item layout="row">
                                <div class="md-body-1" flex>List Price</div>
                                <div class="md-list-item-text" flex>
                                    <div class="md-body-2">$30</div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>

                            <md-list-item layout="row">
                                <div class="md-body-1" flex>Sell Price</div>
                                <div class="md-list-item-text" flex>
                                    <div class="md-body-2">$30</div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>

                            <md-list-item layout="row">
                                <div class="md-body-1" flex>Stock</div>
                                <div class="md-list-item-text" flex>
                                    <div class="md-body-2">Active</div>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>

                        </md-list>
                    </div>
                    <md-divider vertial></md-divider>
                    <div flex>
                        <div layout="column">
                            <div flex>
                                <h3 class="md-title">Tags</h3>
                                <p class="md-content">
                                    <span class="badge badge-primary">test1</span>
                                    <span class="badge badge-primary">test2</span>
                                    <span class="badge badge-primary">test3</span>
                                </p>
                            </div>
                            <md-divider></md-divider>
                            <div flex>
                                <h3 class="md-title">Short Description</h3>
                                <p class="md-body-1">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam necessitatibus
                                    suscipit velit voluptatibus! Ab accusamus ad adipisci alias aliquid at atque
                                    consectetur, dicta dignissimos, distinctio dolores esse fugiat iste laborum libero
                                    magni maiores maxime modi nemo neque, nesciunt nisi nulla optio placeat quas quia
                                    quibusdam quis saepe sit ullam!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </md-card-content>
        </md-card>
    </section>
    <section flex layout="row">
        <md-card flex="20">
            <h2 class="md-title left-padding ">Data</h2>
            <md-divider></md-divider>
            <md-card-content>
                <md-list>
                    <md-list-item layout="column" layout-align="start">
                        <div class="md-caption" flex>Sell Price</div>
                        <div class="md-list-item-text">
                            <span class="md-title">$30</span>
                        </div>
                    </md-list-item>

                </md-list>
                <md-divider></md-divider>

                <md-list>
                    <md-list-item layout="column" layout-align="start">
                        <div class="md-caption" flex>Tax</div>
                        <div class="md-list-item-text">
                            <span class="md-title">18%</span>
                        </div>
                    </md-list-item>

                </md-list>
                <md-divider></md-divider>
                <md-list>
                    <md-list-item layout="column" layout-align="start">
                        <div class="md-caption" flex>Stock</div>
                        <div class="md-list-item-text">
                            <span class="md-title">130</span>
                        </div>
                    </md-list-item>

                </md-list>
                <md-list>
                    <md-list-item layout="column" layout-align="start">
                        <div class="md-caption" flex>SKU</div>
                        <div class="md-list-item-text">
                            <span class="md-title">1423</span>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>

        </md-card>

        <md-card flex>
            <h2 class="md-title left-padding ">Options</h2>
            <md-divider></md-divider>
            <md-card-content>
                <div class="uk-grid" layout="row">
                    <div flex="20">
                        <p class="md-body-1">Colors</p>
                    </div>
                    <div flex>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="uk-width-4-10">Color</th>
                                <th class="uk-width-3-10">In stock</th>
                                <th class="uk-width-3-10 uk-text-right">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Black</td>
                                <td><i class="material-icons uk-text-success md-24"></i></td>
                                <td class="uk-text-right">$0.00</td>
                            </tr>
                            <tr>
                                <td>White</td>
                                <td><i class="material-icons md-24"></i></td>
                                <td class="uk-text-right">+ $25.00</td>
                            </tr>
                            <tr>
                                <td>Red</td>
                                <td><i class="material-icons uk-text-success md-24"></i></td>
                                <td class="uk-text-right">- $10.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <md-divider></md-divider>
                <div class="uk-grid" layout="row">
                    <div flex="20">
                        <p class="md-body-2">Internal memory</p>
                    </div>
                    <div flex>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="uk-width-4-10">Memory</th>
                                <th>In stock</th>
                                <th class="uk-width-3-10 uk-text-right">Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>32GB</td>
                                <td><i class="material-icons md-24"></i></td>
                                <td class="uk-text-right">- $50.00</td>
                            </tr>
                            <tr>
                                <td>64GB</td>
                                <td><i class="material-icons uk-text-success md-24"></i></td>
                                <td class="uk-text-right">$0.00</td>
                            </tr>
                            <tr>
                                <td>128BG</td>
                                <td><i class="material-icons uk-text-success md-24"></i></td>
                                <td class="uk-text-right">+ $80.00</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </section>
</section>
<div class="bottom-right">
    <md-button ng-click="vm.composeClick($event)" class="md-fab md-accent"
               aria-label="{{'EMAIL.COMPOSE_EMAIL' | translate}}">
        <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
    </md-button>
</div>