<section class="overlay-10 padded-content-page overflow-hidden full-height" layout="column">

    <form name="userCreateForm">
        <section flex layout="row">
            <md-card flex="20">
                <h2 class="md-title left-padding ">Photos</h2>
                <md-divider></md-divider>
                <md-card-content>
                    <md-grid-list flex md-cols="6" md-cols-xs="4" md-row-height="4:3" md-gutter="4px">
                        <md-grid-tile
                                ng-click="userCreateController.openImage(userCreateController.images, image, $event)"
                                md-rowspan="{{::image.rowspan}}" md-colspan="{{::image.colspan}}"
                                ng-repeat="image in ::userCreateController.images" ng-style="::{ 'background-image': 'url(' + image.url + ')', 'background-size' : 'cover', 'cursor':'pointer' }">
                            <div class="img-wrap">
                                <md-button class="md-icon-button md-warn md-img-remove" aria-label="More">
                                    <md-icon md-font-icon="zmdi zmdi-close-circle"></md-icon>
                                </md-button>
                            </div>

                        </md-grid-tile>
                    </md-grid-list>
                </md-card-content>
            </md-card>
            <md-card flex>
                <h2 class="md-title left-padding ">Details</h2>
                <md-divider></md-divider>
                <md-card-content>
                    <div layout="row" layout-margin>
                        <div flex>
                            <md-input-container class="md-block">
                                <label for="manufacturer">Manufacturer</label>
                                <input type="text" name="manufacturer" id="manufacturer"/>
                                <div ng-messages="model.email.$error">
                                    <div ng-message="required">
                                        Please enter your email address.
                                    </div>
                                    <div ng-message="email">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="serialNumber">Serial Number</label>
                                <input type="text" name="serialNumber" id="serialNumber"/>
                                <div ng-messages="model.serialNumber.$error">
                                    <div ng-message="required">
                                        Please enter your email address.
                                    </div>
                                    <div ng-message="email">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="serialNumber">Internal Memory</label>
                                <input type="text" name="internalMemory" id="internalMemory"/>
                                <div ng-messages="model.serialNumber.$error">
                                    <div ng-message="required">
                                        Please enter your email address.
                                    </div>
                                    <div ng-message="email">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="serialNumber">List price</label>
                                <input type="text" name="listPrice" id="listPrice"/>
                                <div ng-messages="model.listPrice.$error">
                                    <div ng-message="required">
                                        Please enter your email address.
                                    </div>
                                    <div ng-message="email">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="serialNumber">Sell price</label>
                                <input type="text" name="listPrice" id="sellPrice"/>
                                <div ng-messages="model.sellPrice.$error">
                                    <div ng-message="required">
                                        Please enter your email address.
                                    </div>
                                    <div ng-message="email">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="color">Color</label>
                                <input type="text" name="color" id="color"/>
                                <div ng-messages="model.color.$error">
                                    <div ng-message="required">
                                        Please enter your email address.
                                    </div>
                                    <div ng-message="email">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label for="color">Stock</label>
                                <input type="text" name="stock" id="stock"/>
                                <div ng-messages="model.stock.$error">
                                    <div ng-message="required">
                                        Please enter your email address.
                                    </div>
                                    <div ng-message="email">
                                        Please enter a valid email address.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-divider vertial></md-divider>
                        <div flex>
                            <div layout="column">
                                <div flex>


                                    <div class="tag-container">
                                        <label for="tags">Tags</label>
                                        <md-chips>
                                            <md-chip>Hockey</md-chip>
                                            <md-chip>Lacrosse</md-chip>
                                            <md-chip>Baseball</md-chip>

                                        </md-chips>
                                    </div>
                                    <md-divider></md-divider>

                                </div>

                                <div flex>
                                    <h3 class="md-title">Short Description</h3>
                                    <md-input-container flex class="md-block">
                                        <text-angular name="emailBody" ng-model="email.content"></text-angular>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                    </div>

                </md-card-content>
            </md-card>
        </section>
        <section flex layout="row">
            <md-card flex="20">
                <h2 class="md-title left-padding ">Data</h2>
                <md-divider></md-divider>
                <md-card-content>
                    <md-input-container  md-no-float class="md-block">
                        <md-icon md-font-icon="fa fa-gbp"></md-icon>
                        <input type="text" name="User" placeholder="User"/>
                        <div ng-messages="model.listPrice.$error">
                            <div ng-message="required">
                                Please enter your email address.
                            </div>
                            <div ng-message="email">
                                Please enter a valid email address.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                        <input type="text" name="User" placeholder="Tax"/>
                        <div ng-messages="model.listPrice.$error">
                            <div ng-message="required">
                                Please enter your email address.
                            </div>
                            <div ng-message="email">
                                Please enter a valid email address.
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container md-no-float class="md-block">
                        <md-icon md-font-icon="fa fa-cubes"></md-icon>
                        <input type="text" name="User" placeholder="Stock"/>
                        <div ng-messages="model.listPrice.$error">
                            <div ng-message="required">
                                Please enter your email address.
                            </div>
                            <div ng-message="email">
                                Please enter a valid email address.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container md-no-float class="md-block">
                        <md-icon md-font-icon="fa fa-barcode"></md-icon>
                        <input type="text" name="User" placeholder="Sku"/>
                        <div ng-messages="model.listPrice.$error">
                            <div ng-message="required">
                                Please enter your email address.
                            </div>
                            <div ng-message="email">
                                Please enter a valid email address.
                            </div>
                        </div>
                    </md-input-container>

            </md-card>

            <md-card flex>
                <h2 class="md-title left-padding ">Options</h2>
                <md-divider></md-divider>
                <md-card-content>
                    <div class="uk-grid" layout="row">
                        <div flex="20">
                            <p class="md-body-1">Colors</p>
                        </div>
                        <div flex>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="uk-width-4-10">Color</th>
                                    <th class="uk-width-3-10">In stock</th>
                                    <th class="uk-width-3-10 uk-text-right">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Black</td>
                                    <td><i class="material-icons uk-text-success md-24"></i></td>
                                    <td class="uk-text-right">$0.00</td>
                                </tr>
                                <tr>
                                    <td>White</td>
                                    <td><i class="material-icons md-24"></i></td>
                                    <td class="uk-text-right">+ $25.00</td>
                                </tr>
                                <tr>
                                    <td>Red</td>
                                    <td><i class="material-icons uk-text-success md-24"></i></td>
                                    <td class="uk-text-right">- $10.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div class="uk-grid" layout="row">
                        <div flex="20">
                            <p class="md-body-2">Internal memory</p>
                        </div>
                        <div flex>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="uk-width-4-10">Memory</th>
                                    <th>In stock</th>
                                    <th class="uk-width-3-10 uk-text-right">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>32GB</td>
                                    <td><i class="material-icons md-24"></i></td>
                                    <td class="uk-text-right">- $50.00</td>
                                </tr>
                                <tr>
                                    <td>64GB</td>
                                    <td><i class="material-icons uk-text-success md-24"></i></td>
                                    <td class="uk-text-right">$0.00</td>
                                </tr>
                                <tr>
                                    <td>128BG</td>
                                    <td><i class="material-icons uk-text-success md-24"></i></td>
                                    <td class="uk-text-right">+ $80.00</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </section>
    </form>
</section>
<div class="bottom-right">
    <md-button ng-click="vm.composeClick($event)" class="md-fab md-accent"
               aria-label="{{'EMAIL.COMPOSE_EMAIL' | translate}}">
        <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
    </md-button>
</div>