<div layout="column" flex layout-margin>

    <div kendo-grid="whitelabelListController.grid" flex class="md-whiteframe-z1 "
         options="whitelabelListController.gridOptions" k-rebind="whitelabelListController.gridOptions">
    </div>

</div>

<div class="bottom-right">
    <md-button class="md-fab md-warn"
               aria-label="Create Whitelabel">
        <a ui-sref="triangular.admin-default.whitelabel-create">
            <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
        </a>
    </md-button>
</div>
